
<abp-page [title]=" '::Employees' | abpLocalization ">

    <abp-page-toolbar-container class="col">
        <div class="text-lg-end pt-2">
          <button
          *abpPermission="'EmpManagement.Employees.Create'"
           class="btn btn-primary btn-sm"
                  type="button"
                  (click)="createEmployee()">
            <i class="fa fa-plus me-1"></i>
            {{ '::NewEmployee' | abpLocalization }}
          </button>
        </div>
      </abp-page-toolbar-container>
  
  <div class="card">
    <div class="card-body">
      <ngx-datatable [rows]="employee.items" [count]="employee.totalCount" [list]="list" default>

        <ngx-datatable-column
  [name]="'::Actions' | abpLocalization"
  [maxWidth]="150"
  [sortable]="false"
>
  <ng-template let-row="row" ngx-datatable-cell-template>
    <div ngbDropdown container="body" class="d-inline-block">
      <button
        class="btn btn-primary btn-sm dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        ngbDropdownToggle
      >
        <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
      </button>
      <div ngbDropdownMenu>
        <button
        *abpPermission="'EmpManagement.Employees.Edit'"
         ngbDropdownItem (click)="editEmployee(row.id)">
          {{ '::Edit' | abpLocalization }}
        </button>
        <button 
        *abpPermission="'EmpManagement.Employees.Delete'"
        ngbDropdownItem (click)="delete(row.id)">
          {{ '::Delete' | abpLocalization }}
      </button>
      </div>
    </div>
  </ng-template>
</ngx-datatable-column>



 
        <ngx-datatable-column [name]="'::FullName' | abpLocalization" prop="fullName">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.fullName| abpLocalization }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Position' | abpLocalization" prop="position">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.position | abpLocalization }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::age' | abpLocalization" prop="age">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.age }}
            </ng-template>
          </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
  
</abp-page>
  <!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedEmployee.id ? '::Edit' : '::NewEmployee' ) | abpLocalization }}</h3>
</ng-template>

  
    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="form-group">
            <label for="employee-name">Name</label><span> * </span>
            <input type="text" id="employee-name" class="form-control" formControlName="FullName" autofocus />
          </div>
      
          <div class="form-group mt-2">
            <label for="employee-position">Position</label><span> * </span>
            <input type="text" id="employee-position" class="form-control" formControlName="Position" />
          </div>

          <div class="form-group mt-2">
            <label for="employee-age">Age</label><span> * </span>
            <input type="number" id="employee-age" class="form-control" formControlName="age" />
          </div>
      
          <div class="form-group mt-2">
            <label for="employee-department">Department</label><span> * </span>
            <select class="form-control" id="employee-department" formControlName="DepartmentId">
              <option [ngValue]="null">Select a Department</option>
              <option *ngFor="let dept of department.items" [value]="dept.id"> {{ dept.name}}</option>
            </select>
          </div>
      
        </form>
      </ng-template>
      
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
        {{ '::Close' | abpLocalization }}
      </button>

      <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
        <i class="fa fa-check me-1"></i>
        {{ '::Save' | abpLocalization }}
  </button>
    </ng-template>
  </abp-modal>